.jumbotron {
  background-color:rgba(42, 73, 139, 0.616);  
  color: white;
}
.btn-reservar{
    width: 100%;
    left: 0;
    background-color:rgba(42, 73, 139, 0.616); 
    border:rgba(42, 73, 139, 0.616); ;
}
.box-hotel {
    flex: 1 200px;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
footer {
padding: 10px 10px 0 10px;
background-color:rgba(42, 73, 139, 0.616);  
color: cornsilk;
margin-bottom: 0px;
margin-top: 10px;

}
footer a {
    color: cornsilk;
}
.social {
margin: 5px 5px 5px 5px;
}